<div class="container">
  <h1 class="mt-4">Users</h1>
  <hr>
  <table class="mb-4">
    <thead>
      <tr class="blue-background">
        <th class="col">#</th>
        <th class="col">First Name</th>
        <th class="col">Last Name</th>
        <th class="col">Gender</th>
        <th class="col">Birth Date</th>
        <th class="col">Email</th>
        <th class="col">User Name</th>
        <th class="col">IP</th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>
      {%HOME_TABLE%}
    </tbody>
  </table>

  {%USER_DETAILS%}
</div>