<body class="login__register-body">

    <div class="login__register-container">
        <div class="login__register-toggle-btn">
            <div class="login__register-btn active" onclick="toggleFormDisplay('login')">Login</div>
            <div class="login__register-btn" onclick="toggleFormDisplay('register')">Register</div>
        </div>
        <div class="login__register-login-form login__register-active-form">
            <form>
                <div class="login__register-form-group">
                    <input type="text" placeholder="Username" required>
                </div>
                <div class="login__register-form-group">
                    <input type="password" placeholder="Password" required>
                </div>
                <button class="login__register-form-btn">Login</button>
            </form>
        </div>

        <div class="login__register-register-form">
            <form onsubmit="formatDate(event)">
                <div class="login__register-form-group">
                    <input id="firstName" type="text" placeholder="First Name" required>
                </div>
                <div class="login__register-form-group">
                    <input id="lastName" type="text" placeholder="Last Name" required>
                </div>
                <div class="login__register-form-group">
                    <input id="dateOfBirth" type="date" placeholder="Date of Birth" pattern="\d{2}/\d{2}/\d{4}"
                        required>
                </div>
                <div class="login__register-form-group">
                    <input id="email" type="email" placeholder="Email" required>
                </div>
                <div class="login__register-form-group">
                    <input id="username" type="text" placeholder="Username" required>
                </div>
                <div class="login__register-form-group">
                    <input id="password" type="password" placeholder="Password" required>
                </div>
                <div class="login__register-form-group">
                    <input id="passwordConfirm" type="password" placeholder="Confirm Password" required>
                </div>
                <button id="registerButton" class="login__register-form-btn">Register</button>
            </form>
        </div>
    </div>

    <script src="../../public/js/login-register.js"></script>
</body>