<div class="container">
    <h1 class="mt-4">User Details</h1>
    <hr>
    <table class="mb-4">
        <thead>
            <tr class="blue-background">
                <th class="col">#</th>
                <th class="col">First Name</th>
                <th class="col">Last Name</th>
                <th class="col">Gender</th>
                <th class="col">Birth Date</th>
                <th class="col">Email</th>
                <th class="col">User Name</th>
                <th class="col">IP</th>
                <th class="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{%ID%}</td>
                <td>{%FIRST_NAME%}</td>
                <td>{%LAST_NAME%}</td>
                <td>{%GENDER%}</td>
                <td>{%BIRTH_DATE%}</td>
                <td>{%EMAIL%}</td>
                <td>{%USER_NAME%}</td>
                <td>{%IP%}</td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <a class="home-link bg-primary" href="/web"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>


<style>
    body {
        font-family: 'Quicksand', sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
    }

    th,
    td {
        border: 2px solid #bbb;
        background: white;
        padding: 8px;
        text-align: start;
    }

    tr.blue-background th {
        background-color: rgb(87, 87, 236);
        color: white;
    }

    .home-link {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    .home-link:hover {
        opacity: .9;
    }
</style>