/* General Styles */

body {
  font-family: 'Quicksand', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

th,
td {
  border: 2px solid #bbb;
  background: white;
  padding: 8px;
  text-align: start;
}

tr.blue-background th {
  background-color: rgb(87, 87, 236);
  color: white;
}

/* Display Toast */

.display__toast {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


.display__toast.show {
  opacity: 1;
}

.display__toast.hide {
  opacity: 0;
}

.message {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  color: white;
}

.message.success {
  background-color: #0F969C;
}

.message.error {
  background-color: #AE445A;
}

/* Auth Page Styles */

.auth-body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg,
      #2196F3,
      #03A9F4,
      #00BCD4,
      #009688,
      #4CAF50,
      #8BC34A,
      #CDDC39,
      #FFEB3B,
      #F44336,
      #E91E63,
      #9C27B0,
      #673AB7,
      #3F51B5);
  background-size: 2000% 100%;
  animation: gradientAnimation 60s infinite linear;
}

@keyframes gradientAnimation {

  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.auth-container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  transition: all .3s;
}

.auth-toggle-btn {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.auth-toggle-btn .auth-btn {
  flex: 1;
  padding: 10px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  position: relative;
  border: none;
  background: none;
  font-size: 18px;
  transition: color .1s, font-size .5s;
}

.auth-toggle-btn .auth-btn.active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background: #3498db;
}

.auth-toggle-btn .auth-btn:hover {
  color: #12a14e;
  transform: scale(1.03);
}

.auth-login-form,
.auth-register-form {
  display: none;
  transition: all .3s;
  animation: fadeIn .5s;
}

.auth-form-group {
  margin-bottom: 15px;
}

.auth-form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background: #3498db;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: .3s;
}

.auth-form-btn:hover {
  background: #12a14e;
  transform: scale(1.03);
}

.auth-active-form {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Not Found Page Styles */

.not__found-body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.not__found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.not__found-error--code {
  font-size: 120px;
  font-weight: bold;
  margin: 0;
}

.not__found-error--message {
  font-size: 24px;
  margin: 20px 0;
}

.user__details-home-link,
.not__found-home-link {
  display: inline-block;
  background-color: #3325ff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.user__details-home-link:hover,
.not__found-home-link:hover {
  opacity: .9;
}