<body class="auth-body">

    <div class="auth-container">
        <div class="auth-toggle-btn" id="formSelector">
            <div class="auth-btn active" onclick="toggleFormDisplay('login')">Login</div>
            <div class="auth-btn" onclick="toggleFormDisplay('register')">Register</div>
        </div>
        <div class="auth-login-form auth-active-form" id="loginFormContainer">
            <form id="loginForm">
                <div class="auth-form-group">
                    <input type="text" name="username" placeholder="Username" required>
                </div>
                <div class="auth-form-group">
                    <input type="password" name="password" placeholder="Password" required>
                </div>
                <button id="loginButton" class="auth-form-btn">Login</button>
            </form>
            <div class="d-flex justify-content-end mt-4">
                <a href="#" onclick="toggleForgotPasswordForm()" class="no-underline"> Forgot password?</a>
            </div>
        </div>

        <div id="forgotPasswordFormContainer" class="display-none">
            <strong>Forgot Password</strong>
            <hr>
            <form id="forgotPasswordForm" class="mt-4">
                <div class="auth-form-group">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <button id="forgotPasswordButton" class="auth-form-btn">Reset Password</button>
                <div class="d-flex justify-content-start mt-4">
                    <a href="#" onclick="toggleBackToLogin()" class="no-underline">
                        <i class="fa-solid fa-arrow-left"></i> Back</a>
                </div>
            </form>
        </div>

        <div id="resetPasswordFormContainer" class="display-none">
            <strong>Reset Your Password</strong>
            <hr>
            <form id="resetPasswordForm" class="mt-4">
                <div class="auth-form-group">
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <div class="auth-form-group">
                    <input name="passwordConfirm" type="password" placeholder="Confirm Password" required>
                </div>
                <button id="resetPasswordButton" class="auth-form-btn"> Submit</button>
            </form>
        </div>

        <div class="auth-register-form">
            <form id="registerForm" onsubmit="formatDate(event)">
                <div class="auth-form-group">
                    <input name="firstName" type="text" placeholder="First Name" required>
                </div>
                <div class="auth-form-group">
                    <input name="lastName" type="text" placeholder="Last Name" required>
                </div>
                <div class="auth-form-group">
                    <input name="dateOfBirth" type="date" placeholder="Date of Birth" pattern="\d{2}/\d{2}/\d{4}"
                        required>
                </div>
                <div class="auth-form-group">
                    <input name="email" type="email" placeholder="Email" required>
                </div>
                <div class="auth-form-group">
                    <input name="username" type="text" placeholder="Username" required>
                </div>
                <div class="auth-form-group">
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <div class="auth-form-group">
                    <input name="passwordConfirm" type="password" placeholder="Confirm Password" required>
                </div>
                <button id="registerButton" class="auth-form-btn">Register</button>
            </form>
        </div>
    </div>

    <script type="module" src="/views/auth/js/auth.js"></script>
</body>